{% extends "budget/base_generic.html" %}
{% load crispy_forms_tags %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'budget/login.css' %}">
{% endblock css %}

{%block buttons%}
<ul class="navbar-nav offset-6">
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'register' %}">Zarejestruj</a>
  </li>
</ul>
{%endblock buttons%}

{% block alert %}
  {% if form.errors %}
    <div class="alert alert-danger ribbon-warning" role="alert">
      Podana nazwa użytkownika różni się od hasła. Proszę spróbować ponownie.
    </div>
  {% endif %}
{% endblock alert %}

{% block content %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="container col-10 col-sm-8 col-md-6 col-xl-4 offset-sm-2 offset-md-3 offset-xl-4 form-box">
      <div class="row form-container">
        <div class="col-12 input-container">
          {{ form.username}}
          {{ form.username.errors }}
        </div>
        <div class="col-12 input-container">
          {{ form.password}}
          {{ form.password.errors }}
        </div>
        <div class="col-12 submit-container">
          <input class="btn btn-secondary" type="submit" value="Zaloguj" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </div>

  </form>


{% endblock %}
