{% extends "budget/base_generic.html" %}
{% block content %}
<section>
    <div class="container offset-xl-3 offset-lg-2 offset-md-1 offset-sm-2 offset-1 col-xl-6 col-lg-8 col-md-10 col-sm-8 col-10 bg-main">
        <div class="row">
            <div class="col-md-6">
                <!--All expences grouped by category-->
                <h5 id='expenceHeader' class=" mt-2 mb-2">Wydatki Łącznie: {{aggr_all_expences}}</h5>
                {% if aggr_all_expences > 0 %}
                <ul class="list-group">
                    {% for name, id, ammount in aggr_expences %}
                        {% if ammount != None %}
                            <li id='expenceBanner{{id}}' class="list-group-item d-flex">
                                <span class="mr-auto" style="color: black;">{{name}}</span>
                                <span id=expenceAmmount{{id}} class="mr-2" style="color: black;">{{ammount}}</span>
                                <!-- Modal button -->
                                <div <a class='btn btn-secondary btn-sm fas fa-info-circle'  data-toggle="modal" data-target="#expenceModal{{id}}" data-url='#'></a></div>
                            </li>
                            <!-- Modal -->
                            <div style='color:black' class="modal fade" id="expenceModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{name}}ModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="{{name}}ModalLabel">{{name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul id="list-expence{{id}}" class="list-group">
                                                {% for element in all_expences %}
                                                    {% if element.expence_category == name %}
                                                        <li id="line{{element.id}}" class="list-group-item d-flex flex-column flex-sm-row align-items-center">
                                                            <span class="mr-sm-auto">{{element.expence_way}}</span>
                                                            <div class="mr-3">
                                                                <span class="mr-3">{{element.ammount}}</span>
                                                                <span>{{element.date|date:"d.m.y"}}</span>
                                                            </div>
                                                            <div class="mr-2">
                                                                <form>{% csrf_token %}</form>
                                                                <button type="button" class="btn btn-secondary btn-sm far fa-sticky-note" data-toggle="popover" data-placement="top" data-content="{{element.notes}}"></button>
                                                                <button id="deleteButton" name="{{element.id}}" data-url="{% url 'expence-delete' element.id %}" date-name = {{id}} data-type='expence' type="submit" class="btn btn-danger btn-sm fas fa-trash"></button>
                                                            </div>
                                                        </li>
                                                    {%endif%}
                                                {%endfor%}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endif%}
                    {%endfor%}
                </ul>
                {% else %}
                            <p>Nie dodano wydatku! Dodaj swój pierwszy wydatek w zakładce "WYDATEK"</p>
                {%endif%}
    
                <!--All incomes grouped by category-->
                <h5 id='incomeHeader' class=" mt-2 mb-2">Przychody Łącznie: {{aggr_all_incomes}}</h5>
                {% if aggr_all_incomes > 0 %}
                <ul class="list-group">
                    {% for name, id, ammount in aggr_incomes %}
                        {% if ammount != None %}
                            <li id='incomeBanner{{id}}' class="list-group-item d-flex">
                                <span class="mr-auto" style="color: black;">{{name}}</span>
                                <span id='incomeAmmount{{id}}' class="mr-2" style="color: black;">{{ammount}}</span>
                                <!-- Modal button -->
                                <div <a class='btn btn-secondary btn-sm fas fa-info-circle'  data-toggle="modal" data-target="#incomeModal{{id}}"></a></div>
                            </li>
                            <!-- Modal -->
                            <div style='color:black' class="modal fade" id="incomeModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{name}}ModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="{{name}}ModalLabel">{{name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul id="list-income{{id}}" class="list-group">
                                                {% for element in all_incomes %}
                                                    {% if element.income_category == name %}
                                                        <li id="line{{element.id}}" class="list-group-item d-flex flex-column flex-sm-row align-items-center justify-content-end">
                                                            <div class="mr-3">
                                                                <span class="mr-3">{{element.ammount}}</span>
                                                                <span>{{element.date|date:"d.m.y"}}</span>
                                                            </div>
                                                            <div class="mr-2">
                                                                <form>{% csrf_token %}</form>
                                                                <button type="button" class="btn btn-secondary btn-sm far fa-sticky-note" data-toggle="popover" data-placement="top" data-content="{{element.notes}}"></button>
                                                                <button id="deleteButton" name="{{element.id}}" data-url="{% url 'income-delete' element.id %}" date-name = {{id}} data-type='income' type="submit" class="btn btn-danger btn-sm fas fa-trash"></button>
                                                            </div>
                                                        </li>
                                                    {%endif%}
                                                {%endfor%}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endif%}
                    {%endfor%}
                </ul>
                <br>
                {% else %}
                            <p>Nie dodano przychodu! Dodaj swój pierwszy przychód w zakładce "PRZYCHÓD"</p>
                {%endif%}
                <h3 id='balanceHeader'>Bilans: {{balance}}</h3>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div id='chartDiv' style='width: 100%; height: 350px;'></div>
                
            </div>
        </div>
    </div>
</section>
{%endblock content%}
{%block script%}
{% load static %}
<script src="{% static 'budget/balance.js' %}"></script>
<script src="{% static 'budget/chart.js' %}"></script>
{%endblock script%}


