{% extends "budget/base_generic.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Witaj, {{user.username}}</h1>
      <p class="lead">Dzięki aplikacji PersonalBudget poznasz swoje nawyki zakupowe oraz zdiagnozujesz problemy z wydatkami.</p>
      <p class="lead">Ucz się dyscypliny w sprawach finansowych. Pamiętaj, aby zbierać paragony oraz na bieżąco zapisywać dochody i wydatki.</p>
      <p class="lead">Podział na kategorię i ustawienie limitów uławawi Ci analizę budżetu.</p>
      <p class="lead">W zakładce Bilans możesz edytować konretne wpisy. Ustawienia umożliwiają dodawanie, edycję i usuwanie kategorii oraz limitów.</p>
    </div>
  </div>
{% endblock content %}