{% extends "budget/base_generic.html" %}

{% block content %}
<div class="alert alert-info ribbon-info" role="alert">Witaj, {{user.username}}</div>

<section class="row offset-xl-3 offset-lg-2 offset-md-1 offset-sm-1 col-xl-6 col-lg-8 col-md-10 col-sm-10 col-12 center">
    <div class="row">
        <div class="col-12 col-md-6 margin5">
            <article class="bg-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend sed eros at tempus. Sed vitae orci sed velit tempus facilisis at at dolor. Cras porttitor vehicula odio ac blandit. Aliquam euismod imperdiet augue, vel fermentum tellus. Aenean fermentum eget velit vel faucibus. Curabitur turpis dolor, dignissim at aliquet a, auctor non neque. Nullam eget sagittis ex, gravida tristique ipsum.</article>
        </div>
        <div class="col-12 col-md-6 margin5">
            <article class="bg-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend sed eros at tempus. Sed vitae orci sed velit tempus facilisis at at dolor. Cras porttitor vehicula odio ac blandit. Aliquam euismod imperdiet augue, vel fermentum tellus. Aenean fermentum eget velit vel faucibus. Curabitur turpis dolor, dignissim at aliquet a, auctor non neque. Nullam eget sagittis ex, gravida tristique ipsum.</article>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 margin5">
            <article class="bg-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend sed eros at tempus. Sed vitae orci sed velit tempus facilisis at at dolor. Cras porttitor vehicula odio ac blandit. Aliquam euismod imperdiet augue, vel fermentum tellus. Aenean fermentum eget velit vel faucibus. Curabitur turpis dolor, dignissim at aliquet a, auctor non neque. Nullam eget sagittis ex, gravida tristique ipsum.</article>
        </div> 
        <div class="col-12 col-md-6 margin5">
            <article class="bg-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend sed eros at tempus. Sed vitae orci sed velit tempus facilisis at at dolor. Cras porttitor vehicula odio ac blandit. Aliquam euismod imperdiet augue, vel fermentum tellus. Aenean fermentum eget velit vel faucibus. Curabitur turpis dolor, dignissim at aliquet a, auctor non neque. Nullam eget sagittis ex, gravida tristique ipsum.</article>
        </div>
    </div>
</section>
{% endblock content %}