{% extends "budget/base_generic.html" %}
{% load crispy_forms_tags %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'budget/settings.css' %}">
{% endblock css %}

{% block alert %}
<div id='alert-ribbon'></div>
{% endblock alert%}


{% block content %}
<section class='mt-3'>
  <!--EDIT MODAL-->
  <div id="editModal" class="modal fade bd-edit-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edytuj</h5>
        </div>
        <form id='editCategoryForm' method="POST">
          <div class="modal-body">
            <input id="editCategoryFormInput" type="text" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Wróć</button>
            <button id="editCategoryButton" name="#" type="submit" class="btn btn-primary btn-sm">Zapisz</button>
          </div>
      </form>
      </div>
    </div>
  </div>
  <!--DELETE MODAL-->
  <div id=deleteConfModal class="modal fade bd-delete-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Uwaga!</h5>
        </div>
        <div class="modal-body">
        <p></p>
        </div>
        <div class="modal-footer">
          <form id='deleteCategoryForm' class="mr-2" method="POST">
            {% csrf_token %}
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Wróć</button>
          <button id='deleteCategoryButton' name="#" type="submit" class="btn btn-danger btn-sm">Usuń</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!--INCOMES-->
  <div class='container'>
    <div class="offset-xl-3 offset-lg-2 offset-md-1 col-xl-6 col-lg-8 col-md-10 col-12 mb-3">
      <div class="row">
        <button class="mb-2 castom-btn js_button shadow">Przychody</button>
      </div>
      <div class="js_toggle_group" style="display: none;">
        {% if income_cat %}
        <ul id="incomes-categorys-list" class="list-group">
          {% for element in income_cat %}
          <li id='line{{element.id}}' class="list-group-item d-flex">
            <span class="mr-auto">{{ element.name }}</span>
            <button id='deleteCategoryButton{{element.id}}' type="button" class="mr-2 btn btn-danger btn-sm fas fa-trash" data-toggle="modal" data-target=".bd-delete-modal-sm" data-id='{{element.id}}' data-type='incomes' data-urledit="{% url 'income-category-update' element.id %}" data-urldelete="{% url 'income-category-delete' element.id %}"></button>
            <button id="editCategoryButton{{element.id}}" type="button" class="btn btn-secondary btn-sm far fa-edit" data-toggle="modal" data-target=".bd-edit-modal-sm" data-id='{{element.id}}'data-type='incomes' data-url="{% url 'income-category-update' element.id %}"></button>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-end">
            <form id="addIncomeCategoryForm" method="post">{% csrf_token %}
              <div class="btn-group">
                {{form_add_in_cat.name|as_crispy_field}}
                <button name="add_income_category" type="submit" class="btn btn-secondary btn-sm fas fa-plus"></button>
              </div>
            </form>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <!--EXPENCE-->
  <div class='container'>
    <div class="offset-xl-3 offset-lg-2 offset-md-1 col-xl-6 col-lg-8 col-md-10 col-12 mb-3">
      <div class="row">
        <button class="mb-2 castom-btn js_button shadow">Wydatki</button>
      </div>
      <div class="js_toggle_group" style="display: none;">
        {% if expence_cat %}
        <ul class="list-group">
          {% for element in expence_cat %}
          <li class="list-group-item d-flex">
            <span class="mr-auto">{{ element.name }}</span>
            <div><a class='btn btn-secondary btn-sm' href="{% url 'settings-exp-cat-update' element.name %}">Edytuj</a></div>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-end">
            <form action="" method="post">{% csrf_token %}
              <div class="btn-group">
                {{form_add_ex_cat.name|as_crispy_field}}
                <button name="add_expence_category" type="submit" class="btn btn-secondary btn-sm fas fa-plus"></button>
              </div>
            </form>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <!--EXPENCE WAY-->
  <div class='container'>
    <div class="offset-xl-3 offset-lg-2 offset-md-1 col-xl-6 col-lg-8 col-md-10 col-12 mb-3">
      <div class="row">
        <button class="mb-2 castom-btn js_button shadow">Płatności</button>
      </div>
      <div class="js_toggle_group" style="display: none;">
        {% if expence_way %}
        <ul class="list-group">
          {% for element in expence_way %}
          <li class="list-group-item d-flex">
            <span class="mr-auto">{{ element.name }}</span>
            <div><a class='btn btn-secondary btn-sm' href="{% url 'settings-way-cat-update' element.name %}">Edytuj</a></div>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-end">
            <form action="" method="post">{% csrf_token %}
              <div class="btn-group">
                {{form_add_way.name|as_crispy_field}}
                <button name="add_expence_way" type="submit" class="btn btn-secondary btn-sm fas fa-plus"></button>
              </div>
            </form>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{%block script%}
<script src="{% static 'budget/settings.js' %}"></script>
<script src="{% static 'budget/addIncomes.js' %}"></script>
 
{%endblock script%}